/* Sidebar Starts */

.sitexp-sidebar-container {
    position: fixed;
    top: 90px;
    width: 250px;
    height: calc(100vh - 90px);
    text-wrap: nowrap;
    overflow-y: auto;
    transition: width 0.3s ease;
}

.sitexp-sidebar-container.sitexp-sidebar-container-close {
    width: 0;
    transition: width 0.3s ease;
}

.sitexp-sidebar-container::-webkit-scrollbar {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.sitexp-sidebar-container:hover::-webkit-scrollbar {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.sitexp-sidebar-container:hover::-webkit-scrollbar-thumb {
    background-color: #e8e8e8;
}

.sitexp-sidebar-container:hover::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
}

.sitexp-sidebar {
    padding: 15px 0;
}

.sitexp-sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    /* margin-top: 5px; */
}

.sitexp-sidebar-item {
    padding: 5px 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #333;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

.sitexp-sidebar-overview-item-active,
.sitexp-sidebar-item-active {
    color: #ffffff !important;
    border: 1px solid #1A237E;
    background-color: #1A237E;
}

.sitexp-sidebar-overview-item svg {
    fill: black;
    display: none;
}

.sitexp-sidebar-overview-item-active svg {
    fill: white !important;
}

.sitexp-sidebar-nav-section-header {
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.2s ease;
}

.sitexp-sidebar-nav-section-header-toggle-icon {
    font-size: 10px;
    transition: transform 0.3s ease;
}

.sitexp-sidebar-nav-section-header-sub-menu {
    list-style: none;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.sitexp-sidebar-nav-section-header-sub-menu.expanded {
    max-height: 500px;
}

.sitexp-sidebar-sub-item {
    padding: 5px 20px;
    cursor: pointer;
    color: #555;
    font-size: 16px;
    transition: background-color 0.2s ease;
}

.sitexp-sidebar-sub-item:hover:not(.sitexp-sidebar-overview-item-active, .sitexp-sidebar-item-active) {
    background-color: #ebebeb;
}

.sitexp-sidebar-item-badge {
    background: #141821;
    background-image:
        linear-gradient(180deg, #141821 0%, #1D2331 100%),
        linear-gradient(90deg,
            rgba(97, 255, 189, 0.1) 0%,
            rgba(140, 232, 255, 0.1) 33%,
            rgba(186, 159, 255, 0.1) 66%,
            rgba(255, 94, 152, 0.1) 100%);
    color: white;
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: 600;
}

@media (max-width: 768px) {
    .sitexp-sidebar-container {
        width: 0;
        height: calc(100vh - 90px);
        background-color: #ffffff;
        transform: translateX(-100%);
        z-index: 10;
        transition: transform 0.3s ease;
    }

    .sitexp-sidebar-container.sitexp-sidebar-container-close {
        width: 250px;
        transform: translateX(0);
        transition: all 0.3s ease;
    }

    .sitexp-sidebar-overview-item svg {
        display: block;
        position: relative;
        z-index: 11;
    }
}

/* Sidebar Ends */